{% extends "layout.html" %}


{% block main %}
    <div class="container">
        <form action="/edit" method="post">
            <div class="section1">
                <div class="go">
                    <h6 style="margin-top: 10px; margin-bottom: 40px; font-size: 75px; height: 100px;">Edit Blog page</h6>
                </div>

                <div class="input-title">
                    <span class="title">제목:</span>
                    <input class="input" placeholder="제목을 입력하시오" type="text" name="title">
                    
                </div>
            </div>  
            
            <div class="section2">
                <div class="input-section">
                    <form method="post">
                        <textarea id="summernote" name="editordata"></textarea>
                        <button type="submit">edit blog</button>
                    </form>
                </div>
            </div>
        </form>
    </div>
    <script>
        $(document).ready(function() {
            $('#summernote').summernote();
        });
    </script>
{% endblock %}

